<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Home</title>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
   </head>
   <body>
      <div class="ui main container segment">
         <h1 class="header">This is home Page</h1>
         <h2>This website is hosted on Google Cloud!</h2>
         <a class='ui green basic button' href="/add">Register</a>
      </div>
   </body>
</html>
